
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="/css/main.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <ti

<div class="container">
    <div class="header">
        <h2>Create your account</h2>
    </div>
    <form id="form" class="form">
        <div class="form-control">
          
            <input type="text" placeholder="First Name" id="fname" />
            <small>Error message</small>
        </div>

        <div class="form-control">
        
            <input type="text" placeholder="First Name" id="lname" />
            <small>Error message</small>
        </div>

        
        <div class="form-control">
            
            <input type="email" placeholder="username@mail.com" id="email" />
            <small>Error message</small>
        </div>
        <div class="form-control">
        
            <input type="text" placeholder="Phone Number" id="num" />
            <small>Error message</small>
        </div>
        <div class="form-control">
            
            <input type="password" placeholder="Password" id="password"/>
           
            <small>Error message</small>
        </div>
        <div class="form-control">
      
            <input type="password" placeholder="Confirm Password" id="password2"/>
           
            <small>Error message</small>
        </div>
        <button>Submit</button>
		<a href="/users/login"> Already Registered? Login here</a>
    </form>
</div>

</html>


<script>
const form = document.getElementById('form');
const fname = document.getElementById('fname');
const lname = document.getElementById('lname');
const email = document.getElementById('email');
const num = document.getElementById('num');
const password = document.getElementById('password');
const password2 = document.getElementById('password2');

form.addEventListener('submit', (e) => {
	e.preventDefault();
	
	checkInputs();
});

function checkInputs() {
	// trim to remove the whitespaces
	const fnameValue = fname.value.trim();
    const lnameValue = lname.value.trim();
	const emailValue = email.value.trim();
    const numValue = num.value.trim();
	const passwordValue = password.value.trim();
	const password2Value = password2.value.trim();
	
	if(fnameValue === '') {
		setErrorFor(fname, 'Username cannot be blank');
	} else {
		setSuccessFor(fname);
	}

    if(lnameValue === '') {
		setErrorFor(lname, 'Username cannot be blank');
	} else {
		setSuccessFor(lname);
	}
	
	if(emailValue === '') {
		setErrorFor(email, 'Email cannot be blank');
	} else if (!isEmail(emailValue)) {
		setErrorFor(email, 'Not a valid email');
	} else {
		setSuccessFor(email);
	}
	if(numValue === '') {
		setErrorFor(num, 'Password cannot be blank');
	} else {
		setSuccessFor(num);
	}


	if(passwordValue === '') {
		setErrorFor(password, 'Password cannot be blank');
	} else {
		setSuccessFor(password);
	}
	
	if(password2Value === '') {
		setErrorFor(password2, 'Password2 cannot be blank');
	} else if(passwordValue !== password2Value) {
		setErrorFor(password2, 'Passwords does not match');
	} else{
		setSuccessFor(password2);
	}
}

function setErrorFor(input, message) {
	const formControl = input.parentElement;
	const small = formControl.querySelector('small');
	formControl.className = 'form-control error';
	small.innerText = message;
}

function setSuccessFor(input) {
	const formControl = input.parentElement;
	formControl.className = 'form-control success';
}
	
function isEmail(email) {
	return /^(([^<>()\[\]\\.,;:\s@"]+(\.[^<>()\[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/.test(email);
}













// SOCIAL PANEL JS
const floating_btn = document.querySelector('.floating-btn');
const close_btn = document.querySelector('.close-btn');
const social_panel_container = document.querySelector('.social-panel-container');

floating_btn.addEventListener('click', () => {
	social_panel_container.classList.toggle('visible')
});

close_btn.addEventListener('click', () => {
	social_panel_container.classList.remove('visible')
});
</script>